<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Noto+Sans:wght@400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,800&family=Roboto+Mono:wght@400;700&family=Source+Code+Pro&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/jass.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>The Wandering Comma</title>
</head>

<body>

  <header>
    <a href="/">
      <h1>The Wandering Comma <span class="span-title">// tech blog</span></h1>
    </a>
    {{#if loggedIn}}
    <a href="/dashboard"><button id="dashbtn" class="btn dashbtn ">Dashboard</button></a>
    <button id="logout" class="btn logout ">Logout</button>
    {{else}}
    <a href="/login">
      <button class="btn login" type="button">
        Login
      </button></a>
    {{/if}}
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <a href="https://www.meherdevs.com" target="_blank" rel="nonopenner"><button class="btn footbtn">Made with ❤️ By MeherDevs
        |
        2023</button></a>
  </footer>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{!--
  <script src="/js/comment.js"></script> --}}
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>