<section class="Dashboard d-flex justify-content-center p-2 flex-grow-1">
    <div class="dash-aside">
        <section class="blogpost">

            <div class="d-flex justify-content-end p-2">
                <!-- keep track of new post link -->
                <a href="/newpost" class="form-inline">
                    <button class="btn btn-outline-success" type="button">
                        Create New Post
                    </button>
                </a>
            </div>
            
            <a href="#">
                <h2>The Wandering Comma</h2>
                <p><em>Sunday, October 9th, 2022</em></p>
            </a>
            <p>psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Et odio
                pellentesque diam volutpat commodo sed. Tortor at risus viverra
                adipiscing at in. Ipsum dolor sit amet consectetur. psum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Et odio pellentesque diam volutpat
                commodo sed. Tortor at risus viverra adipiscing at in. Ipsum dolor sit
                amet consectetur. psum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et
                odio pellentesque diam volutpat commodo sed. Tortor at risus viverra
                adipiscing at in. Ipsum dolor sit amet consectetur.</p>
            <a href="#">
                <h2>The Wandering Comma</h2>
                <p><em>Sunday, October 9th, 2022</em></p>
            </a>
            <p> psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Et odio
                pellentesque diam volutpat commodo sed. Tortor at risus viverra
                adipiscing at in. Ipsum dolor sit amet consectetur. psum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Et odio pellentesque diam volutpat
                commodo sed. Tortor at risus viverra adipiscing at in. Ipsum dolor sit
                amet consectetur. psum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et
                odio pellentesque diam volutpat commodo sed. Tortor at risus viverra
                adipiscing at in. Ipsum dolor sit amet consectetur.</p>
    </div>