<div>
    <h4>Are you sure you want to delete this Post?</h4>
    <button class="btn d-flex justify-content-end btn-outline-success delete" id="blog-id" value="{{blogs.id}}">Yes</button>
    <br>
    <a href="/dashboard"><button class="btn d-flex justify-content-end btn-outline-success delete">No</button></a>
</div>
<script src="/js/delete.js"></script>