       <div class="each-post">
        {{#each Blog}}
            <h2>{{title}}</h2>
            <p><em>{{date_created}}</em></p>
            <p>{{post}}</p>
            <p><em>By {{name}}</em></p>
            {{/each}}
        </div>