{{!-- view for creating new posts --}}
<form class="new-post p-4">

    <div class="mb-3">
        <label for="title">Title:</label>
        <input type="text" class="form-input" id="title" placeholder="title">
        <label for="newPost" class="form-label d-flex justify-content-start">New Blog Post:</label>
        <textarea name="newPost" id="newPost" cols="175" rows="10" class="form-input"
            placeholder="new post here"></textarea>
        <br>
        <button type="submit" class="btn d-flex justify-content-end">Publish</button>
    </div>
</form>