:root {
  --primary: #2b3650;
  --secondary: #762a24;
  --tertiary: #d86b11;
  --quatrinary: #3a7149;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
}

main {
  margin: 3em;
  padding: 3em;
}

h2 {
  text-decoration: underline;
  color: var(--dark);
}
p {
  text-decoration: none;
  color: var(--dark);
}
h2:hover {
  color: var(--tertiary);
}

.each-post {
  border-bottom: var(--dark) solid 2px;
}

.dropdown {
  margin-top: 1em;
}

.comment {
  border-bottom: var(--dark) solid 2px;
}

.comment p {
  color: var(--secondary);
  margin-top: 1em;
}