:root {
  --first: hwb(167 15% 29%);
  --second: hwb(151 17% 24%);
  --third: hwb(136 36% 8%);
  --fourth: hwb(335 27% 11%);
  --fifth: hwb(335 43% 4%);
  --sixth: hwb(167 12% 47%);
  --seventh: hwb(198 44% 26%);
  --light: hsl(168, 26%, 96%);
  --dark: hsl(188, 36%, 4%);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
  background-image: url(../images/Cloudy.jpg);
  background-size: cover;
}

header {
  text-align: right;
}

main {
  margin: 2rem;
}

h1 {
  /* background-color: var(--seventh); */
  padding: 1em;
  color: white;
  text-shadow: 1px 2px 9px rgba(0, 0, 0, 0.737);
}

.login {
  background-color: var(--first);
  color: var(--light);
  border: none;
  width: 80px;
  transition: 1s;
  margin-right: 3.2em;
}

.logout {
  background-color: var(--fourth);
  color: var(--light);
  border: none;
  width: 80px;
  transition: 1s;
  margin-right: 3.2em;
}

.dashbtn {
  background-color: var(--first);
  color: var(--light);
  border: none;
  margin-right: .6rem;
  transition: 1s;
}

h2 {
  color: var(--dark);
}

p {
  text-decoration: none;
  color: var(--dark);
}

.each-post {
  margin-bottom: 1em;
  background-color: var(--light);
  padding: 3em;
  padding-top: 2em;
  padding-bottom: 4em;
  border-radius: 12px;
  /* box-shadow: -10px 15px 35px rgba(26, 43, 51, 0.457); */
}

.user-post {
  margin-top: 2em;
}

#update-link {
  margin-left: 1em;
  justify-content: space-between;
  float: right;
}

#delete-link {
  margin-left: 1em;
  justify-content: space-between;
  float: right;
}

.dropdown {
  margin-top: 1em;
}

.comment {
  border-bottom: var(--dark) solid 2px;
}

.comment p {
  color: var(--second);
  margin-top: 1em;
}

.new-post button {
  margin-top: 1em;
  color: white;
  background-color: var(--fourth);
}


.update {
  background-color: #deac08;
}

#post-update {
  background-color: #deac08;
  color: #182c23;
}

.delete {
  background-color: #c64a41;
}

#post-delete {
  background-color: #c64a41;
  color: #182c23;
}

a:hover {
  text-decoration: none;
}

.login:hover {
  background-color: var(--sixth);
  border: none;
  color: var(--light);

}

.logout:hover {
  background-color: var(--fifth);
  color: var(--light);

}

.dashbtn:hover {
  background-color: var(--second);
  color: var(--light);

}

h2:hover {
  color: var(--third);
}

.new-post button:hover {
  background-color: #53a268;
}

.update:hover {
  background-color: #d2a308;
}

.delete:hover {
  background-color: #762a24;
}